<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Recipe App{% endblock %}</title>
</head>
<body>
    <nav class="bg-gray-50 shadow-2xl">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex items-center justify-between w-full">
                    <a href='/recipe/' class="text-4xl font-bold text-slate-800">Recipe App</a>
                            
                    <div class="hidden sm:block">
                        <div class="flex space-x-8">
                            <a href="/" class="rounded-md px-5 py-2 text-md font-medium text-slate-800 hover:bg-slate-800 bg-gray-300 hover:text-white">Feed</a>
                    
                            {%if user.is_authenticated %}
                                <a href="/recipe/" class="rounded-md px-5 py-2 text-md font-medium text-slate-800 hover:bg-slate-800 bg-gray-300 hover:text-white">My Recipes</a>
                                <a href="/logout/" class="rounded-md px-5 py-2 text-md font-medium text-slate-800 hover:bg-red-600 bg-gray-300 hover:text-white">LogOut</a>
                                {%else%}
                            <a href="/login/" class="rounded-md px-5 py-2 text-md font-medium text-slate-800 hover:bg-slate-800 bg-gray-300 hover:text-white">LogIn</a>
                            <a href="/signup/" class="rounded-md px-5 py-2 text-md font-medium text-slate-800 hover:bg-slate-800 bg-gray-300 hover:text-white">SignUp</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">
            <a href="/login/" class="rounded-md px-3 py-2 text-sm font-medium text-slate-300 hover:bg-slate-700 hover:text-white">LogOut</a>
          </div>
        </div>
      </nav>

      <div class="container mx-auto p-6">
        {% block content %}{% endblock %}
    </div>
      
</body>
</html>