{% extends 'navbar.html' %}
{% block title %}Recipe Page{% endblock %}
{% block content %}
{% include 'message.html' %}


<div class="w-full max-w-md mx-auto flex flex-col justify-center mt-20">
    <form class="bg-gray-50 shadow-2xl rounded px-8 pt-6 pb-8 w-full" method = 'post'>
        {%csrf_token%}
        <h1 class="text-3xl font-bold text-center text-slate-600 mb-6">Send New Password to your E-mail</h1>
      <div class="mb-8 mt-8">
        <label class="block text-slate-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input required name = 'email' class="font-2xl shadow appearance-none border rounded w-full py-2 px-3 text-slate-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="ShairAli125@gmail.com">
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-slate-800 hover:bg-slate-700 active:bg-slate-800 text-white font-bold py-2 px-10  rounded focus:outline-none focus:shadow-outline" type="submit">
          Send
        </button>
        <a class="ml-[-50px] bg-slate-800 hover:bg-slate-700 active:bg-slate-800 text-white font-bold py-2 px-10  rounded focus:outline-none focus:shadow-outline" href="/login/">
            Back to Login
        </a>
      </div>
    </form>
  </div>



{% endblock %}
